layout {

    focus-ring {
        active-color   "#bda7f0"
        inactive-color "#222226"
        urgent-color   "#6a6a6a"
    }

    border {
        active-color   "#bda7f0"
        inactive-color "#222226"
        urgent-color   "#6a6a6a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bda7f0"
        inactive-color "#501cc8"
        urgent-color   "#6a6a6a"
    }

    insert-hint {
        color "#bda7f080"
    }
}

recent-windows {
    highlight {
        active-color "#bda7f0"
        urgent-color "#6a6a6a"
    }
}
